nav ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 25px;
  margin-top: 20px;
  font-size: 2em;
}

li {
  list-style-type: none;
}

.smallPic {
  width: 40px;
  height: 55px;
}

.contentItem {
  padding: 17px;
}

.contentTitle {
  margin-left: -100px;
}

.thumbnails {
  max-width: 125px;
  max-height: 125px;
  /*display: cover;*/
}

.center {
  text-align: center;
}
